.course-card {
  width: 26rem;
  height: 32rem;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin: 0 auto;
  @media only screen and (max-width: 480px) {
    width: 80%;
    height: 36rem;
  }

  &__body {
    flex: 1 1;
    padding: 1.5rem;
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 100%;
    height: 15.4rem;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
  }

  a {
    display: block;
    text-align: center;
    padding: 1.2rem;
    background-color: $color-secondary;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border-radius: 3px;
  }
}

.react-multi-carousel-list {
  padding-left: 2px;
}