.navigation {
  width: 100%;
  // background-color: black;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 8.5rem;
  position: fixed;
  z-index: 1;
  transition: all 0.3s;

  &__burger {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: #fff;
    opacity: 0.75;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.navigation__wrapper {
    @media only screen and (max-width: 680px) {
      // display: none;
      transform: translateX(-110%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 50%;
      flex-direction: column;
      background: #fff;
      padding-top: 5rem;
      &.--active {
        transform: translateX(0);
      }
      li {
        border-right: none;
        height: fit-content;
      }
      a {
        color: black;
        padding: 2rem 3rem;
        font-size: 2rem;
      }
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin-bottom: 0;
  }

  li {
    height: 100%;
    border-right: 0.0625rem solid hsla(0, 0%, 100%, 0.3);
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  a {
    color: #fff;
    padding: 0 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    line-height: normal;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.3rem;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.3s ease;
      background-color: #fff;
      content: "";
    }

    &:hover {
      &::after {
        transform: scaleY(1);
        transition: transform 0.3s ease;
        z-index: 2;
      }
    }
  }

  &__auth {
    display: flex;
    &--btn {
      a {
        background-color: $color-primary;
        color: #000;
        transition: background-color 0.3s ease;
        &::after {
          height: 0;
        }
        &:hover {
          background-color: darken($color-primary, 5);
        }
      }
    }
  }

  &.--active {
    background-color: #fff;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 0.0625rem solid #3b4242;

    a {
      color: $color-secondary;
      border-bottom: none;

      &::after {
        background-color: $color-secondary;
      }
    }

    li {
      border-right: 0.0625rem solid rgba($color-secondary, 0.5rem);
    }
  }
}

.footer {
  background-color: #072626;
  padding: 3rem 0;
  margin-top: 5rem;

  &__item {
    @media only screen and (max-width: 680px) {
      padding: 0;
    }
    img {
      width: 3rem;
      height: 3rem;
    }

    a {
      font-size: 1.6rem;
      color: #fff;
      text-transform: uppercase;
    }

    .socials {
      img {
        height: 2rem;
      }
    }
  }

  &__list {
    list-style-type: none;
    align-items: center;
    @media only screen and (max-width: 680px) {
      padding: 1rem;
    }
  }

  &__bottom {
    color: #fff;
    text-align: center;
    padding: 1rem;
    background-color: #031616;
  }
}