// COLORS
$color-primary: #3AC0EB;
$color-primary-ight-1: #fff8ee;

$color-secondary: #0F0B27;
$color-secondary-light: #183C82;

$color-deep-blue: #011b33;

$color-white: #fff;
$color-black: #000;

$color-dark-1: #121212;
$color-dark-2: #1c1d1f;

$color-grey-1: #4b4b4b;
$color-grey-2: #6a6a6a;
$color-grey-3: #999999;

$color-light-grey-1: #f4f4f4;
$color-light-grey-2: #eeeeee;
$color-light-grey-3: #f2f2f2;
$color-light-grey-4: #d0d0d0;