.contact-section {
    padding: 5rem 0;

    &__top {
        text-align: center;
        h2 {
            font-size: 2.6rem;
        }
    }

    img {
        width: 100%
    }

    h4 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}